{% extends 'base.html' %}

{% block title %}
{{ datas['name'] }}
{% endblock %}

{% block body %}

<div class="container header-2">
    <div class="row header-2">
        <div class="col-md-10">
            <div class="container nav-2">
                <ul class="header-2-l">
                    <li class='header-2'>
                        <a href="{{ url_for('project.index') }}" style="color:brown;">
                            {{ datas['name'] }}
                        </a>
                    </li>
                    <li class='header-2'>
                        <button class="next"></button>
                        <ol class="breadcrumb header-3">
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.data', name=datas['name'], mode=1) }}">数据模块</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.analysis', name=datas['name'], mode=1) }}">分析模块</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="{{ url_for('project.solution', name=datas['name'], mode=1) }}">结果模块</a>
                            </li>
                        </ol>
                        <strong class="s-header-3-4">—</strong>
                        <ol class="breadcrumb header-4">
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.solution', name=datas['name'], mode=1) }}">结果展示</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.solution', name=datas['name'], mode=2) }}">结果数据</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.solution', name=datas['name'], mode=3) }}">变化曲线</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="{{ url_for('project.solution', name=datas['name'], mode=4) }}">分析报告</a>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-2">
            <div class="container nav-2 r">
                <a href="{{ url_for('project.index') }}">
                    <label class="nav-2" for="">返回上一级</label>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h4 style="margin-left: 45%;">2019-02-15</h4>
    <div class="row">
        <div class="col-xs-1-6" style="width:35%; margin-left: 15%; background-color: lightgray;">
            <ul style="margin-top: 1em;">
                <li style="display:inline-flex;">隧道区段健康状态综合评分:</li>
                <li style="display:inline-flex;">
                    76.61
                </li>
            </ul>

            <ul>
                <li style="display:inline-flex;">隧道区段健康状态综合等级:</li>
                <li style="display:inline-flex;">
                        Ⅰ 级
                </li>
            </ul>
            <ul>
                <li style="display:inline-flex;">隧道区段主要病害:</li>
                <li style="display:inline-flex;">
                    裂缝
                </li>
            </ul>
            <ul>
                <li style="display:inline-flex;">隧道区段维护养护建议:</li>
                <li style="display:inline-flex;">
                    日常维护
                </li>
            </ul>
        </div>
        <div class="col-xs-1-6" style="width:35%; background-color: lightpink;">
            <ul style="margin-top: 1em;">
                <li style="display:inline-flex;">隧道区段最危险衬砌环:</li>
                <li style="display:inline-flex;">
                    34
                </li>
            </ul>

            <ul>
                <li style="display:inline-flex;">最危险衬砌环综合评分:</li>
                <li style="display:inline-flex;">
                    70.3
                </li>
            </ul>
            <ul>
                <li style="display:inline-flex;">最危险衬砌环综合等级:</li>
                <li style="display:inline-flex;">
                        Ⅱ 级
                </li>
            </ul>
            <ul>
                <li style="display:inline-flex;">最危险衬砌环主要病害:</li>
                <li style="display:inline-flex;">
                    错台
                </li>
            </ul>
        </div>
    </div>
</div>











{% endblock %}