{% extends 'base.html' %}

{% block title %}
{{ datas['name'] }}
{% endblock %}

{% block body %}


<div class="container header-2">
    <div class="row header-2">
        <div class="col-md-10">
            <div class="container nav-2">
                <ul class="header-2-l">
                    <li class='header-2'>
                        <a href="{{ url_for('project.index') }}" style="color:brown;">
                            {{ datas['name'] }}
                        </a>
                    </li>
                    <li class='header-2'>
                        <button class="next"></button>
                        <ol class="breadcrumb header-3">
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.data', name=datas['name'], mode=1) }}">数据模块</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="{{ url_for('project.analysis', name=datas['name'], mode=1) }}">分析模块</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.solution', name=datas['name'], mode=1) }}">结果模块</a>
                            </li>
                        </ol>
                        <strong class="s-header-3-4">—</strong>
                        <ol class="breadcrumb header-4">
                            <li class="breadcrumb-item active">
                                <a href="{{ url_for('project.analysis', name=datas['name'], mode=1) }}">计算分析</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.analysis', name=datas['name'], mode=2) }}">分析依据</a>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-2">
            <div class="container nav-2 r">
                <a href="{{ url_for('project.index') }}">
                    <label class="nav-2" for="">返回上一级</label>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissable">

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×
                </button>
                <h4>
                    提示!
                </h4>
                输入时间与环号，点击计算可得到该环衬砌健康状态。
                </br>
                <strong>注意!</strong> 你需要检查输入的时间与环号是否存在。
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="margin-left:30%;">
    <form role="form" method="POST">
        <div class="row">
            <div class="col-md-1-6">
                <div class="form-group">
                    <ul>
                        <li class="import">
                            <label for="date">
                                数据采集时间
                            </label>
                        </li>
                        <li class="import">
                            <input style="width:12em;" type="date" class="form-control" name="date" id="date"
                                required />
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <ul>
                        <li class="import">
                            <label for="ringNum">衬砌环号</label>
                        </li>
                        <li class="import">
                            <input style="margin-left:2em;width:12em;" type="number" class="form-control"
                                name="ringNumber" id="ringNumber" required />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1-6">
                <button style="margin-top:2em;" type="submit" class="btn btn-primary">
                    计算
                </button>
            </div>
        </div>

    </form>
</div>

<style>
    .form-group {
        height: 2em;
        margin-top: 0.5em;
        /* margin-bottom: 0.5em; */
    }

    li.import {
        display: inline-flex;
        margin-right: 2em;
    }
</style>



{% if datas['success'] %}
<br>
<h4 style="margin-left: 35%;">
    {{ datas['date'] }} {{ datas['ringNumber'] }}号衬砌环分析结果
</h4>
<div class="container-fluid">
    <!-- </br> -->
    <h4>单因素评价结果</h4>
    <table class="table">
        <thead>
            <tr class="table-warning">
                <th>病害</th>
                <th>裂缝长度</th>
                <th>裂缝宽度</th>
                <th>曲率半径</th>
                <th>错台</th>
                <th>沉降速度</th>
                <th>横向收敛变形</th>
                <th>渗漏水速度</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <th scope="row">健康级别</th>
                {% for i in range(7) %}
                <td>{{ datas['data'][i] }}</td>
                {% endfor %}
            </tr>

        </tbody>
    </table>
</div>

<div class="container-fluid">
    <!-- </br> -->
    <h4>综合评价结果</h4>
    <table class="table">
        <thead>
            <tr class="table-warning">
                <th>健康级别</th>
                <th>一级（轻微）</th>
                <th>二级（一般）</th>
                <th>三级（严重）</th>
                <th>四级（极严重）</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <th scope="row">隶属度</th>
                {% for i in range(7,11) %}
                <td>{{ datas['data'][i] }}</td>
                {% endfor %}
            </tr>

        </tbody>
    </table>


    <table class="table">

        <tbody>
            <tr class="table-warning">
                <td scope="row"></td>
                <th>
                    <label for="none">综合评价值</label>
                </th>
                <td>
                    <label for="value">{{ datas['data'][11] }}</label>
                </td>
            </tr>
            <tr class="table-active">
                <td scope="row"></td>
                <th>
                    <label for="none">综合评价等级</label>
                </th>
                <td>
                    <label for="value">{{ datas['data'][12] }}</label>
                </td>
            </tr>
        </tbody>
    </table>

</div>

{% endif %}


{% endblock %}