{% extends 'base.html' %}

{% block title %}
计算依据
{% endblock %}

{% block body %}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('project.data', name=datas['name'], mode=1) }}">数据模块</a>
        </li>
        <li class="breadcrumb-item active">
            分析模块
        </li>
        <li class="breadcrumb-item">
            <a href="#">结果模块</a>
        </li>
    </ol>
</nav>

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('project.analysis', name=datas['name'], mode=1) }}">计算分析</a>
        </li>
        <li class="breadcrumb-item active">
            分析依据
        </li>
    </ol>
</nav>

<div class="container-fluid">
    
</div>



{% endblock %}