<!DOCTYPE html>

<html>


<head>
    <title>{% block title %}{% endblock %}-STHE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>


    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>


    <link rel="stylesheet" type="text/css" href="../static/header/css/head.css">
    <link rel="stylesheet" type="text/css" href="../static/header/css/header.css">

    {% block head %}
    {% endblock %}
</head>

<body>

    {% if g.user %}

    <div class="container-header">
        <div class="row">
            <div class="col-md-6 header">
                <!-- <h1 class="nav">
                    盾构隧道健康状态评价平台
                </h1> -->
                <img src="/static/header/img/platformTitle.png" alt="">
            </div>
            <div class="col-md-6 header">
                <div class="container nav">
                    <a href="{{ url_for('project.index') }}">
                        <button type="button" class="btn3 nav user_true">
                            <label class="nav" for="">我的工程</label>
                        </button>
                    </a>

                    <a href="{{ url_for('project.index') }}">
                        <button type="button" class="btn2 nav user_true">
                            <label class="nav" for="">个人中心</label>
                        </button>
                    </a>

                    <a href="{{ url_for('user.logout') }}">
                        <button class="btn1 nav user_true">
                            <label class="nav" for="">退出</label>
                        </button>
                    </a>


                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="container-header">
        <div class="row">
            <div class="col-md-6 header">
                <!-- <h1 class="nav">
                    盾构隧道健康状态评价平台
                </h1> -->
                <img src="/static/header/img/platformTitle.png" alt="">
            </div>
            <div class="col-md-6 header">
                <div class="container nav">
                    <!-- <button type="button" class="btn3 nav">DFHZ</button> -->

                    <a href="{{ url_for('user.login') }}">
                        <button type="button" class="btn2 nav">
                            <label class="nav" for="">登录</label>
                        </button>
                    </a>



                    <a href="{{ url_for('user.register') }}">
                        <button class="btn1 nav">
                            <label class="nav" for="">注册</label>
                        </button>
                    </a>


                </div>
            </div>
        </div>
    </div>

    {% endif %}



    <div class="container body">
        {% block body %}

        {% endblock %}

        <style>
            .container.body {
                /* background-color:#e6e6facc; */
                padding: 0;
                margin: 0;
                border: 0;
                max-width: inherit;
            }
        </style>
    </div>








    {% block script %}

    {% endblock %}



</body>

</html>