{% extends 'base.html' %}

{% block title %}
盾构隧道健康状态评价系统
{% endblock %}



{% block body %}
<div class="container-fluid">
    <div class="row" style="height: 3em;background-color: linen;">
        {% if g.user %}
        <div class="col-10" style="display: inline-flex;margin-top: 0.7em;">
            <h5 style="margin-left: 50%;">
                工程列表
            </h5>
        </div>
        <div class="col-2" style="display:inline-flex;">
            <h5 style="margin-top:0.7em; margin-left: 20%;">
                <a class="action" href="{{ url_for('project.create') }}">新建工程</a>
            </h5>
        </div>
        {% endif %}
    </div>
</div>



<table id="dataTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>工程名称</th>
            <th>工程描述</th>
            <th>埋深(m)</th>
            <th>内径(m)</th>
            <th>外径(m)</th>
            <th>管片长度(m)</th>
            <!-- <th>砼设计强度</th> -->
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}

        <tr onclick="myfunction(this)">
            <!-- <a href="{{ url_for('project.data', name=project['name'], mode=1) }}" target="_blank"> -->
            {% for data in project[:-1] %}
            <td>
                {{ data }}
            </td>
            {% endfor %}
            <!-- </a> -->
        </tr>

        {% endfor %}

    </tbody>

</table>

<script>
    $(document).ready(function () {
        $('#dataTable').dataTable();
    });

    function myfunction(obj) {
        var w = window.open();
        var name = obj.children[0].innerText;
        w.location = "./data?name=" + name + "&mode=1";
        // var data = {
        //     haha: 'tt',
        //     hhh: 'ttt'
        // };
        // w.location = "data?" + $.param(data);
    }
</script>

<script type="text/javascript">
    {% include 'js/ENG2CN.js' %}
</script>


<style>
    .nav.btn3.user_true {
        background-color: rgba(200, 200, 200, 0.7);
    }
</style>

{% endblock %}