{% extends 'base.html' %}

{% block title %}
{{ datas['name'] }}
{% endblock %}

{% block body %}


<div class="container header-2">
    <div class="row header-2">
        <div class="col-md-10">
            <div class="container nav-2">
                <ul class="header-2-l">
                    <li class='header-2'>
                        <a href="{{ url_for('project.index') }}" style="color:brown;">
                            {{ datas['name'] }}
                        </a>
                    </li>
                    <li class='header-2'>
                        <button class="next"></button>
                        <ol class="breadcrumb header-3">
                            <li class="breadcrumb-item active">
                                <a href="{{ url_for('project.analysis', name=datas['name'], mode=1) }}">数据模块</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.analysis', name=datas['name'], mode=1) }}">分析模块</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.solution', name=datas['name'], mode=1) }}">结果模块</a>
                            </li>
                        </ol>
                        <strong class="s-header-3-4">—</strong>
                        <ol class="breadcrumb header-4">
                            <li class="breadcrumb-item active">
                                <a href="{{ url_for('project.data', name=datas['name'], mode=1) }}">导入数据</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('project.data', name=datas['name'], mode=2) }}">编辑数据</a>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-2">
            <div class="container nav-2 r">
                <a href="{{ url_for('project.index') }}">
                    <label class="nav-2" for="">返回上一级</label>
                </a>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid" style="margin-left: 30%;">
    <form role="form" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <ul>
                <li class="import">
                    <label for="date">
                        数据采集时间
                    </label>
                </li>
                <li class="import">
                    <input type="date" class="form-control" name="date" id="date" required />
                </li>
            </ul>
        </div>

        <div class="form-group">
            <ul>
                <li class="import">
                    <label for="exampleInputFile">病害数据文件</label>
                </li>
                <li class="import">
                    <input type="file" class="form-control-file" name="dataFile" id="dataFile" required />
                </li>
            </ul>
        </div>
        <div class="form-group">
            <ul>
                <li class="import" style="margin-left:8em;">
                    <a href="/static/data/dataTemplate.csv" download="dataTemplate.csv">数据模板（病害数据.csv）</a>
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:8em;margin-top: -0.5em;">
            提交
        </button>
    </form>
</div>

<style>
    .form-group {
        height: 2em;
        margin-top: 0.5em;
        /* margin-bottom: 0.5em; */
    }

    li.import {
        display: inline-flex;
        margin-right: 2em;
    }
</style>




{% if datas['date'] %}
<div class="container-fluid">
    <table id="dataTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>管片环号</th>
                <th>裂缝长度</th>
                <th>裂缝宽度</th>
                <th>曲率半径</th>
                <th>错台</th>
                <th>沉降速度</th>
                <th>横向收敛变形</th>
                <th>渗漏水速度</th>
            </tr>
        </thead>
        <tbody>
            {% for segment in datas['data'].values %}
            <tr>
                {% for t in segment %}
                <td>
                    {{ t }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <script>
        $(document).ready(function () {
            $('#dataTable').dataTable();
        });
    </script>
</div>

{% endif %}

<script type="text/javascript">
    {% include 'js/ENG2CN.js' %}
</script>


{% endblock %}