{% extends 'base.html' %}

{% block title %}
{{ datas['name'] }}
{% endblock %}

{% block body %}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            数据模块
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('project.analysis', name=datas['name'], mode=1) }}">分析模块</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">结果模块</a>
        </li>
    </ol>
</nav>

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('project.data', name=datas['name'], mode=1) }}">导入数据</a></li>
        <li class="breadcrumb-item active">编辑数据</li>
    </ol>
</nav>


{% endblock %}